{% extends 'base.html' %}

{% block title %}
{{ post.title }} ({{ post.date }})
{% endblock title %}

{% block content %}
<h2>Detalhes do Post</h2>

<section class="dados-de-post">
    <ul>
        <li>Título: {{ post.title }}</li>
        <li>Data de publicação: {{ post.date }} </li>
        <li>Conteúdo: {{ post.text }} </li>
        <li><a href="{% url 'posts:update' post.id %}">Editar</a></li>
        <li><a href="{% url 'posts:delete' post.id %}">Apagar</a></li>
    </ul>
</section>

{% endblock content %}