{% extends 'base.html' %}

{% block title %}
{{ post.title }} ({{ post.date }})
{% endblock title %}

{% block content %}
<h2>Detalhes do Post</h2>

<section class="dados-de-post">
    <ul>
        <li>Título: {{ post.title }}</li>
        <li>Data de publicação: {{ post.date }} </li>
        <li>Conteúdo: {{ post.text }} </li>
        <li><a href="{% url 'posts:update' post.id %}">Editar</a></li>
        <li><a href="{% url 'posts:delete' post.id %}">Apagar</a></li>
    </ul>
</section>

<section>
    <header>
        <h3>Comentários</h3>
    </header>
    <ul>
        {% if comment_list %}
            {% for comment in comment_list%}
                <figure>
                    <blockquote>
                        "{{ comment.text }}"
                    </blockquote>
                    <p>Postado em {{ comment.date |date:"F d, Y H:i" }} </p>
                    <figcaption>—{{ comment.author }}</figcaption>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum comentário para esse post.</p>
        {% endif %}
    </ul>
</section>

<hr>

<a href="{% url 'posts:comment' post.pk %}"><button>Crie seu comentário</button></a>

{% endblock content %}